## List service bindings

```
Definition
```

```http
GET /v3/service_bindings HTTP/1.1
```

```
Example Request
```

```shell
curl "https://api.[your-domain.com]/v3/service_bindings" \
  -X GET \
  -H "Authorization: bearer [token]"
```

```
Example Response
```

```http
HTTP/1.1 200 OK

<%= yield_content :paginated_list_of_service_bindings, '/v3/service_bindings' %>
```

This endpoint retrieves the service bindings the user has access to.

### Query Parameters

<ul class="method-list-group">
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      app_guids

      <span class="method-list-item-type">optional</span>
    </h4>

    <p class="method-list-item-description">Comma-delimited list of app guids to filter by. <br>Example: <code>app_guids=guid1,guid2</code></p>
  </li>

  <li class="method-list-item">
    <h4 class="method-list-item-label">
      service_instance_guids

      <span class="method-list-item-type">optional</span>
    </h4>

    <p class="method-list-item-description">Comma-delimited list of service instance guids to filter by. <br>Example: <code>service_instance_guids=guid1,guid2</code></p>
  </li>

<%= yield_content :page_query_param %>

<%= yield_content :per_page_query_param %>

<%= yield_content :order_by_query_param %>
</ul>
