### List organizations

```
Definition
```

```http
GET /v3/organizations HTTP/1.1
```

```
Example Request
```

```shell
curl "https://api.example.org/v3/organizations" \
  -X GET \
  -H "Authorization: bearer [token]"
```

```
Example Response
```

```http
HTTP/1.1 200 OK

<%= yield_content :paginated_list_of_organizations, '/v3/organizations' %>
```

This endpoint retrieves the organizations the user has access to.

#### Query Parameters

<ul class="method-list-group">

  <li class="method-list-item">
    <h4 class="method-list-item-label">
      names

      <span class="method-list-item-type">optional</span>
      <span class="method-list-item-type">array of strings</span>
    </h4>

    <p class="method-list-item-description">Comma-delimited list of organization names to filter by. <br>Example: <code>names=name1,name2</code></p>
  </li>

<%= yield_content :page_query_param %>

<%= yield_content :per_page_query_param %>
</ul>
