<div class='no-margin'></div>

### The organization object

<ul class="method-list-group">
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      guid
      <span class="method-list-item-type">string</span>
    </h4>

    <p class="method-list-item-description">Unique GUID for the organization</p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      name
      <span class="method-list-item-type">string</span>
    </h4>

    <p class="method-list-item-description">User-facing name of the organization.</p>
  </li>

<%= yield_content :created_at %>

<%= yield_content :updated_at %>

<%= yield_content :links %>
</ul>

