## Update an app

```
Definition
```

```http
PATCH /v3/apps/:guid HTTP/1.1
```

```
Example Request
```

```shell
curl "https://api.[your-domain.com]/v3/apps/[guid]" \
  -X PATCH \
  -H "Authorization: bearer [token]" \
  -d '{
    "name": "my_app",
    "environment_variables": {
      "HTTP_PROXY": "http://proxy.example.com"
    },
    "lifecycle": {
      "type": "buildpack",
      "data": {
        "buildpack": "java_buildpack",
      }
    }
  }' 
```

```
Example Response
```

```http
HTTP/1.1 200 OK

<%= yield_content :app_with_state, 'STARTED' %>
```
This endpoint updates an app.

### Body Parameters

<ul class="method-list-group">
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      name

      <span class="method-list-item-type">optional</span>
    </h4>

    <p class="method-list-item-description">Name of the App.</p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      environment_variables

      <span class="method-list-item-type">optional</span>
    </h4>

    <p class="method-list-item-description">Environment variables to be used for the App when running.</p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      lifecycle

      <span class="method-list-item-type">optional</span>
    </h4>

    <p class="method-list-item-description">Lifecycle to be used when updating the app. Note: If no lifecycle is provided, lifecycle type defaults to buildpack. Data is a required field in lifecycle.</p>
  </li>
</ul>
