cores=$(/usr/sbin/sysctl -n hw.logicalcpu)

if (( cores > 8 )); then
  # This environment variable overrides the `parallel_test` gem's default behavior
  # which is to use all available logical cores.
  # Running with 16 cores is very slow for reasons we don't fully understand
  # but are probably due to lock file or disk resource contention

  export PARALLEL_TEST_PROCESSORS=8
fi
