*~
.idea
.yardoc
\#*\#
.\#*
.bundle
bundler
spec/artifacts
spec/examples.txt
ci-artifacts-dir
ci-working-dir
coverage
doc
*.rbc
*.swp
*.pid
.DS_Store
log
tmp
tags
test.err
test.out

#DOCS

docs/*.gem
docs/*.rbc
docs/.bundle
docs/.config
docs/coverage
docs/InstalledFiles
docs/lib/bundler/man
docs/npm-debug.log
docs/pkg
docs/rdoc
docs/spec/reports
docs/test/tmp
docs/test/version_tmp
docs/tmp
docs/*.DS_STORE
docs/build/
docs/.cache
docs/node_modules
docs/node_modules/**/*
docs/source/version

# YARD artifacts
docs/.yardoc
docs/_yardoc
docs/doc/
docs/.idea/

