## List droplets

```
Definition
```

```http
GET /v3/droplets HTTP/1.1
```

```
Example Request
```

```shell
curl "https://api.[your-domain.com]/v3/droplets" \
  -X GET \
  -H "Authorization: bearer [token]"
```

```
Example Response
```

```http
HTTP/1.1 200 OK

<%= yield_content :paginated_list_of_droplets, '/v3/droplets' %>
```

This endpoint retrieves the droplets the user has access to.

### Query Parameters

<ul class="method-list-group">
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      order_by

      <span class="method-list-item-type">optional</span>
    </h4>

    <p class="method-list-item-description">
      Valid values are "created_at", "updated_at" or "id"
    </p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      page

      <span class="method-list-item-type">optional</span>
    </h4>

    <p class="method-list-item-description">Page to display. Possible values are all integers >= 1.</p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      per_page

      <span class="method-list-item-type">optional</span>
    </h4>

    <p class="method-list-item-description">Number of results per page. Possible values are 1 through 5000.</p>
  </li>
</ul>
