### Assign an isolation segment

```
Definition
```

```http
PATCH /v3/spaces/:guid/relationships/isolation_segment HTTP/1.1
```

```
Example Request
```

```shell
curl "https://api.example.org/v3/spaces/[guid]/relationships/isolation_segment" \
  -X PATCH \
  -H "Authorization: bearer [token]" \
  -H "Content-Type: application/json" \
  -d '{
    "data": {
      "guid": "[iso-seg-guid]"
    }
   }'
```

```
Example Response
```

```http
HTTP/1.1 200 OK

<%= yield_content :space_isolation_segment_relationship, '/v3/spaces' %>
```

This endpoint assigns an isolation segment to the space.
The space's parent organization must have already been
entitled to the isolation_segment.

Apps will not run in the newly assigned isolation segment until they are restarted.

#### Body Parameters

<ul class="method-list-group">
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      data[guid]

      <span class="method-list-item-type"/>
    </h4>

    <p class="method-list-item-description">
      Guid of the isolation segment to assign to the space.
      Setting data to null will unassign the isolation segment.
    </p>
  </li>
</ul>
