## Get a process

```
Definition
```

```http
GET /v3/processes/:guid HTTP/1.1
```

```
Example Request
```

```shell
curl "https://api.[your-domain.com]/v3/processes/[guid]" \
  -X GET \
  -H "Authorization: bearer [token]"
```

```
Example Response
```

```http
HTTP/1.1 200 OK

<%= yield_content :single_process %>
```

This endpoint retrieves a specific process.

### Body Parameters

<p class='no-body-parameters-outer'>
  <span class='no-body-parameters-required'>
    No arguments
  </span>
</p>
