<div class='no-margin'></div>

## The process object

<ul class="method-list-group">
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      guid
      <span class="method-list-item-type">string</span>
    </h4>

    <p class="method-list-item-description">Unique GUID for the process</p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      type
      <span class="method-list-item-type">string</span>
    </h4>

    <p class="method-list-item-description">Process type. A unique identifier for processes belonging to an app.</p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      command
      <span class="method-list-item-type">string</span>
    </h4>

    <p class="method-list-item-description">The command is used to start the process.</p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      instances
      <span class="method-list-item-type">integer</span>
    </h4>

    <p class="method-list-item-description">The number of instances to run.</p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      memory_in_mb
      <span class="method-list-item-type">integer</span>
    </h4>

    <p class="method-list-item-description">The memory in mb allocated per instance.</p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      disk_in_mb
      <span class="method-list-item-type">integer</span>
    </h4>

    <p class="method-list-item-description">The disk in mb allocated per instance.</p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      health_check
      <span class="method-list-item-type">health_check object</span>
    </h4>

    <p class="method-list-item-description">The health check to perform on the process. See <%= link_to 'health_check', '#the-health_check-object' %> for more information.</p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      created_at
      <span class="method-list-item-type">datetime</span>
    </h4>

    <p class="method-list-item-description">The time with zone when the process was created.</p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      updated_at
      <span class="method-list-item-type">datetime</span>
    </h4>

    <p class="method-list-item-description">The time with zone with the process was last updated.</p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      links
      <span class="method-list-item-type">object</span>
    </h4>

    <p class="method-list-item-description">Links to related resources.</p>
  </li>
</ul>

