/*
 * FILE: _vars.scss
======================================================================== */

// ~BEGIN BASE VALUES
// ===================================================
$font-size-xxl: 2.4rem;
$font-size-xl: 1.9rem;
$font-size-l: 1.5rem;
$font-size-m: 1.2rem;
$font-size-s: 1rem;
$font-size-xls: 0.9rem;
$font-size-xs: 0.8rem;

$font-weight-light: 300;

$navy: #243640;
$gray1: #424242;
$gray2: #686868;
$gray3: #b5b5b5;
$gray4: #eceae9;
$gray5: #f8f8f8;
$gray6: #fdfdfd;
$blue1: #2185c5;
$blue2: #a7cae1;
$bluegray1: #4b6475;
$teal1: #03786D;
$teal2: #00a79d;
$froly-red: #F08080;

// ~COLORS
// ===================================================

$color-accent: $teal1;
$color-accent-bright: $teal2;

// text colors
$color-header: $gray2;
$color-text: $gray1;
$color-text-dim: $gray3;

// link colors
$color-link: $blue1;
$color-link-border: $blue2;

// border colors
$color-border-row: $gray5;
$color-border: $gray4;
$color-border-light: $gray4;
$color-border-superlight: $gray4;
$color-border-dark: $gray3;

// background-colors
$color-bg: $gray5;
$color-bg-light: $gray6;
$color-bg-panel: $gray5;
$color-bg-header: $navy;
$color-bg-dark: $bluegray1;

// ~COMPASS DEFAULTS
// ===================================================
$contrasted-dark-default: $color-text;
$contrasted-light-default: #fff;
$contrasted-lightness-threshold: 90%;

$code-snippet-background-color: $gray1;
$code-background-color: darken($code-snippet-background-color, 7%);
