## Get a task for an app

```
Definition
```

```http
GET /v3/apps/:guid/tasks/:guid HTTP/1.1
```

```
Example Request
```

```shell
curl "https://api.[your-domain.com]/v3/apps/:guid/tasks/[guid]" \
  -X GET \
  -H "Authorization: bearer [token]"
```

```
Example Response
```

```http
HTTP/1.1 200 OK

<%= yield_content :single_task %>
```

This endpoint retrieves a specific task on an app.

### Body Parameters

<p class='no-body-parameters-outer'>
  <span class='no-body-parameters-required'>
    No arguments
  </span>
</p>
