## Scale a process

```
Definition
```

```http
PUT /v3/processes/:guid/scale HTTP/1.1
```

```
Example Request
```

```shell
curl "https://api.[your-domain.com]/v3/processes/[guid]/scale" \
  -X PUT \
  -H "Authorization: bearer [token]" \
  -d '{
    "instances": 5,
    "memory_in_mb": 256,
    "disk_in_mb": 1024,
  }'
```

```
Example Response
```

```http
HTTP/1.1 202 OK

<%= yield_content :single_process %>
```

This endpoint scales an existing process.

### Body Parameters

<ul class="method-list-group">
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      instances

      <span class="method-list-item-type">optional</span>
    </h4>

    <p class="method-list-item-description">The number of instances.</p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      memory_in_mb

      <span class="method-list-item-type">optional</span>
    </h4>

    <p class="method-list-item-description">The memory in mb allocated per instance.</p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      disk_in_mb

      <span class="method-list-item-type">optional</span>
    </h4>

    <p class="method-list-item-description">The disk in mb allocated per instance.</p>
  </li>
</ul>
