### Get current droplet association for an app

```
Definition
```

```http
GET /v3/apps/:guid/relationships/current_droplet HTTP/1.1
```

```
Example Request
```

```shell
curl "https://api.example.org/v3/apps/[guid]/relationships/current_droplet" \
  -X GET \
  -H "Authorization: bearer [token]"
```

```
Example Response
```

```http
HTTP/1.1 200 OK
```
```json
<%= yield_content :app_current_droplet_relationship %>
```

This endpoint retrieves the current droplet relationship for an app.

#### Body Parameters

<p class='no-body-parameters-outer'>
  <span class='no-body-parameters-required'>
    No arguments
  </span>
</p>
