<div class='no-margin'></div>

## The service_binding object

<ul class="method-list-group">
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      guid
      <span class="method-list-item-type">string</span>
    </h4>

    <p class="method-list-item-description">Unique GUID for the service binding</p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      type
      <span class="method-list-item-type">string</span>
    </h4>

    <p class="method-list-item-description">Service binding type. Currently only possible value is "app".</p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      data
      <span class="method-list-item-type">object</span>
    </h4>

    <p class="method-list-item-description">Data returned from the service broker for the service instance. Currently possible values are "credentials", "syslog_drain_url" and (experimental) "volume_mounts".</p>
  </li>

<%= yield_content :created_at %>

<%= yield_content :updated_at %>

  <li class="method-list-item">
    <h4 class="method-list-item-label">
      links
      <span class="method-list-item-type">object</span>
    </h4>

    <p class="method-list-item-description">Links to related resources.</p>
  </li>
</ul>

