## List route mappings

```
Definition
```

```http
GET /v3/route_mappings HTTP/1.1
```

```
Example Request
```

```shell
curl "https://api.[your-domain.com]/v3/route_mappings" \
  -X GET \
  -H "Authorization: bearer [token]"
```

```
Example Response
```

```http
HTTP/1.1 200 OK

<%= yield_content :paginated_list_of_route_mappings, '/v3/route_mappings' %>
```

This endpoint retrieves the route mappings the user has access to.

### Query Parameters

<ul class="method-list-group">
 <li class="method-list-item">
    <h4 class="method-list-item-label">
      app_guids

      <span class="method-list-item-type">optional</span>
    </h4>

    <p class="method-list-item-description">App guids to filter by. <br>Example: <code>app_guids=guid1,guid2</code></p>
 </li>
 <li class="method-list-item">
    <h4 class="method-list-item-label">
      route_guids

      <span class="method-list-item-type">optional</span>
    </h4>

    <p class="method-list-item-description">Route guids to filter by. <br>Example: <code>route_guids=guid1,guid2</code></p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      page

      <span class="method-list-item-type">optional</span>
    </h4>

    <p class="method-list-item-description">Page to display. Possible values are all integers >= 1.</p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      per_page

      <span class="method-list-item-type">optional</span>
    </h4>

    <p class="method-list-item-description">Number of results per page. Possible values are 1 through 5000.</p>
  </li>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      order_by

      <span class="method-list-item-type">optional</span>
    </h4>

    <p class="method-list-item-description">
    Value to sort by. Prepend with a url encoded "+" or "-" to change sort direction to ascending or descending, respectively.
    <br>Possible values are <code>created_at</code> or <code>updated_at</code>.
    </p>
  </li>
</ul>
