<div class='no-margin'></div>

## The route_mapping object

<ul class="method-list-group">
<%= yield_content :guid, 'route mapping' %>

<%= yield_content :created_at %>

<%= yield_content :updated_at %>

<%= yield_content :links %>
</ul>

