<div class='no-margin'></div>

## The route_mapping object

<ul class="method-list-group">
<%= yield_content :guid, 'route mapping' %>

  <li class="method-list-item">
      <h4 class="method-list-item-label">
        app_port
        <span class="method-list-item-type">integer</span>
      </h4>

      <p class="method-list-item-description">The port that traffic will be routed to for the mapped process.</p>
  </li>

<%= yield_content :created_at %>

<%= yield_content :updated_at %>

<%= yield_content :links %>
</ul>

