<div class='no-margin'></div>

### The isolation_segment object

<ul class="method-list-group">
<%= yield_content :guid, 'isolation_segment' %>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      name
      <span class="method-list-item-type">string</span>
    </h4>

    <p class="method-list-item-description">An arbitrary name of the isolation segment.</p>
  </li>

<%= yield_content :created_at %>

<%= yield_content :updated_at %>

<%= yield_content :links %>
</ul>

