<% content_for :page_query_param do %>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      page

      <span class="method-list-item-type">optional</span>
    </h4>

    <p class="method-list-item-description">Page to display. Possible values are all integers >= 1.</p>
  </li>
<% end %>

<% content_for :per_page_query_param do %>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      per_page

      <span class="method-list-item-type">optional</span>
    </h4>

    <p class="method-list-item-description">Number of results per page. Possible values are 1 through 5000.</p>
  </li>
<% end %>

<% content_for :order_by_query_param do %>
  <li class="method-list-item">
    <h4 class="method-list-item-label">
      order_by

      <span class="method-list-item-type">optional</span>
    </h4>

    <p class="method-list-item-description">
      Value to sort by. Defaults to ascending, or prepend with "-" to sort descending.
      <br>Possible values are <code>created_at</code> or <code>updated_at</code>.
    </p>
  </li>
<% end %>
