name: Docs Tests

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
    paths:
      - 'docs/**'
      - '.github/workflows/docs_test.yml'
  push:
    branches: [ main ]
    paths:
      - 'docs/**'
      - '.github/workflows/docs_test.yml'

jobs:
  Test-Docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Prepare setup
        run: cp -a .ruby-version docs/v3/.ruby-version
      - uses: ./.github/workflows/composite/setup
        with:
          WORKING_DIRECTORY: docs/v3
      - name: Run docs tests
        run: |
          bundle install
          bundle exec rake check_doc_links

  Report-Failure:
    runs-on: ubuntu-latest
    needs: [ Test-Docs ]
    if: github.event_name == 'push' && failure()
    steps:
      - uses: ravsamhq/notify-slack-action@v1.1
        with:
          status: ${{ job.status }}
          notify_when: 'failure' # default is 'success,failure,warnings'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required