name: Docs Tests
concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.run_id }}'
  cancel-in-progress: true
on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
    paths:
      - 'docs/**'
      - '.github/workflows/docs_test.yml'
  push:
    branches: [ main ]
    paths:
      - 'docs/**'
      - '.github/workflows/docs_test.yml'

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  Test-Docs:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: hmarr/debug-action@v3
      - uses: actions/checkout@v4
      - name: Prepare setup
        run: cp -a .ruby-version docs/v3/.ruby-version
      - uses: ./.github/workflows/composite/setup
        with:
          WORKING_DIRECTORY: docs/v3
      - name: Run docs tests
        run: |
          bundle config set --local without 'development'
          bundle install
          bundle exec rake check_doc_links
      - uses: ravsamhq/notify-slack-action@v1.1
        if: github.event_name == 'push'
        with:
          status: ${{ job.status }}
          notify_when: 'failure' # default is 'success,failure,warnings'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
